---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="header-bar">
      {% if site.title == 'blank' %}
        <h1>
          <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        </h1>
        {{ site.last_name }}
      {% else %}
        <!-- <h1 class="site-title-bold">{{ site.title }}</h1> -->
        <h1 class="site-title">
          <span class="title-bold">Vision</span> Lab.
        </h1>
      {% endif %}
      <h2>{{ page.subtitle }}</h2>
    </div>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2 style="margin-top: 1rem">
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Research interests -->
    <div class="research-interests">
      <h2 style="margin-top: 1rem">Research Interests</h2>

      <div class="research-item">
        <h4 style="margin-top: 1rem; margin-bottom: 1rem">🌐 Federated learning</h4>

        <p align="center">
          <a class="paper-image-link" href="https://arxiv.org/abs/2506.23516" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/img/federated_learning.png' | relative_url }}" width="80%" alt="Federated Learning">
            <span class="paper-title">FedWSQ: Efficient Federated Learning with Weight Standardization and Distribution-Aware Non-Uniform Quantization</span>
          </a>
        </p>
      </div>


      <div class="research-item">
        <h4 style="margin-top: 1rem; margin-bottom: 1rem">🤳 Image restoration</h4>

        <p align="center">
          <a class="paper-image-link" href="https://openaccess.thecvf.com/content/CVPR2022/papers/Ji_XYDeblur_Divide_and_Conquer_for_Single_Image_Deblurring_CVPR_2022_paper.pdf" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/img/restoration.png' | relative_url }}" width="80%" alt="Image Restoration XYDeblur">
            <span class="paper-title">XYDeblur: Divide and Conquer for Single Image Deblurring</span>
          </a>
        </p>

        <p align="center">
          <a class="paper-image-link" href=" " target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/img/restoration-peca.png' | relative_url }}" width="80%" alt="Image Restoration PECA">
            <span class="paper-title">A Benchmark for Heterogeneous Stereo Deblurring with Physically- and Epipolar-constrained Cross Attention</span>
          </a>
        </p>
      </div>


      <div class="research-item">
        <h4 style="margin-top: 1rem; margin-bottom: 1rem">📷 Object detection</h4>

        <p align="center">
          <a class="paper-image-link" href="https://openaccess.thecvf.com/content_ECCV_2018/papers/Seung-Wook_Kim_Parallel_Feature_Pyramid_ECCV_2018_paper.pdf" target="_blank" rel="noopener noreferrer">
            <img src="{{ '/assets/img/object_detection.png' | relative_url }}" width="80%" alt="Object Detection">
            <span class="paper-title">Parallel feature pyramid network for object detection</span>
          </a>
        </p>
      </div>
    </div>

  </article>
</div>
